In [4]:
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
import numpy as nm
import datetime
df = pd.read_excel("C:\\Users\\sartv\\YandexDisk\\Porg\\Py\\P1\\direct.xlsx")
df.head(3)

,Дата,Кампания,№ Кампании,Показы,Клики,CTR (%),Расход (руб.),Ср. цена клика (руб.),Ср. ставка за клик (руб.),Ср. позиция показов,Конверсии
0,25.12.2020,Пеноплекс / Поиск / Краснодар,57733902,46,9,19.57,126.07,14.01,35.65,2.95,0
1,25.12.2020,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,25.12.2020,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0

In [5]:
kmp = df['Кампания']
kmp

0        Пеноплекс / Поиск /  Краснодар
1           Пеноплекс / Поиск /  Ростов
2        Пеноплекс / Поиск /  Пятигорск
3           Базальт / Поиск / Краснодар
4              Базальт / Поиск / Ростов
                     ...
6943    Гидроизоляция / Поиск /  Ростов
6944         Проф. мембрана / Краснодар
6945           Стекловата / Краснодар /
6946           Пеноплекс / Поиск / Крым
6947             Базальт / Поиск / Крым
Name: Кампания, Length: 6948, dtype: object

In [6]:
firstrow = df['Кампания'][0]
firstrow

'Пеноплекс / Поиск /  Краснодар'

In [7]:
df.iloc[0]

Дата                                             25.12.2020
Кампания                     Пеноплекс / Поиск /  Краснодар
№ Кампании                                         57733902
Показы                                                   46
Клики                                                     9
CTR (%)                                               19.57
Расход (руб.)                                        126.07
Ср. цена клика (руб.)                                 14.01
Ср. ставка за клик (руб.)                             35.65
Ср. позиция показов                                    2.95
Конверсии                                                 0
Name: 0, dtype: object

In [8]:
# loc - row iloc - column
# df.Кампания.iloc[:10]
df.iloc[:3,1:3]

                         Кампания  № Кампании
0  Пеноплекс / Поиск /  Краснодар    57733902
1     Пеноплекс / Поиск /  Ростов    57733910
2  Пеноплекс / Поиск /  Пятигорск    57733916

In [9]:
df.loc[1:4]

,Дата,Кампания,№ Кампании,Показы,Клики,CTR (%),Расход (руб.),Ср. цена клика (руб.),Ср. ставка за клик (руб.),Ср. позиция показов,Конверсии
1,25.12.2020,Пеноплекс / Поиск / Ростов,57733910,49,7,14.29,86.57,12.37,32.73,2.07,0
2,25.12.2020,Пеноплекс / Поиск / Пятигорск,57733916,8,0,0.00,0.00,0.00,0.00,1.57,0
3,25.12.2020,Базальт / Поиск / Краснодар,57733919,19,5,26.32,76.98,15.40,32.18,2.62,0
4,25.12.2020,Базальт / Поиск / Ростов,57733930,14,3,21.43,90.43,30.14,39.78,2.77,0

In [10]:
#выборка по условию
pnp_rnd_conv = df.loc[(df['№ Кампании'] == 57733916) & (df['Конверсии'] > 0)]
pnp_rnd_conv.head(1)

,Дата,Кампания,№ Кампании,Показы,Клики,CTR (%),Расход (руб.),Ср. цена клика (руб.),Ср. ставка за клик (руб.),Ср. позиция показов,Конверсии
3350,30.07.2021,Пеноплекс / Поиск / Пятигорск,57733916,128,30,23.44,497.18,16.57,48.09,1.54,1

In [11]:
#выборка нескольких строк по условиям
trips = df.loc[df.Кампания.isin(['Пеноплекс / Поиск / Краснодар', 'Пеноплекс / Поиск / Ростов'])]