In [14]:
import pandas as pd
import numpy as np
from IPython.display import display

df = pd.read_csv(r"C:\Users\sartv\YandexDisk\Porg\Py\P1\telecom_churn.csv")

crosstab_descr = 'https://dfedorov.spb.ru/pandas/Объяснение%20кросс-таблицы%20в%20Pandas.html'

pd.crosstab((df['State'] == 'OH'), df['International plan'])

International plan    No  Yes
State
False               2941  314
True                  69    9

In [18]:
pd.crosstab(df['State'], df['International plan'])

International plan  No  Yes
State
AK                  48    4
AL                  72    8
AR                  47    8
AZ                  61    3
CA                  30    4
CO                  62    4
CT                  66    8
DC                  49    5
DE                  51   10
FL                  55    8
GA                  50    4
HI                  50    3
IA                  44    0
ID                  67    6
IL                  43   15
IN                  68    3
KS                  62    8
KY                  55    4
LA                  50    1
MA                  57    8
MD                  60   10
ME                  56    6
MI                  64    9
MN                  76    8
MO                  57    6
MS                  57    8
MT                  66    2
NC                  57   11
ND                  54    8
NE                  58    3
NH                  52    4
NJ                  62    6
NM                  57    5
NV                  57    9
NY                  75    8
OH                  69    9
OK                  56    5
OR                  71    7
PA                  39    6
RI                  55   10
SC                  58    2
SD                  55    5
TN                  47    6
TX                  66    6
UT                  66    6
VA                  68    9
VT                  67    6
WA                  62    4
WI                  70    8
WV                  99    7
WY                  67   10