In [5]:
import pandas as pd
import numpy as np
from IPython.display import display

df = pd.read_csv(r"C:\Users\sartv\YandexDisk\Porg\Py\P1\telecom_churn.csv")
df.pivot_table(['Total day calls', 'Total eve calls', 'Total night calls'], 
['Area code'], aggfunc='mean').head(10)

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190